body {
	margin: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}

.bottom {
	background-color: lightseagreen;
	bottom: 0;
	height: 25vh;
	left: 0;
	position: absolute;
	right: 0;
}

.bottom button {
	background: lightslategray;
	background-position: center	center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 4vh solid lightslategray;
	border-bottom-width: 8vh;
	border-radius: 5vh;
	height: 33vh;
	position: absolute;
	top: -25vh;
    width: 28%;
}
.bottom button:nth-child(1):nth-last-child(1) {
	left: 36%;
}
.bottom button:nth-child(1):nth-last-child(2) {
	left: 14.666%;
}
.bottom button:nth-child(2):nth-last-child(1) {
	left: 57.333%;
}
.bottom button:nth-child(1):nth-last-child(3) {
	left: 4%;
}
.bottom button:nth-child(2):nth-last-child(2) {
	left: 36%;
}
.bottom button:nth-child(3):nth-last-child(1) {
	left: 68%;
}
.bottom button:nth-child(1):nth-last-child(4) {
	left: 4%;
    width: 20%;
}
.bottom button:nth-child(2):nth-last-child(3) {
	left: 28%;
    width: 20%;
}
.bottom button:nth-child(3):nth-last-child(2) {
	left: 52%;
    width: 20%;
}
.bottom button:nth-child(4):nth-last-child(1) {
	left: 76%;
    width: 20%;
}
.bottom button:nth-child(1):nth-last-child(5) {
	left: 1.65%;
    width: 18%;
}
.bottom button:nth-child(2):nth-last-child(4) {
	left: 21.3%;
    width: 18%;
}
.bottom button:nth-child(3):nth-last-child(3) {
	left: 40.95%;
    width: 18%;
}
.bottom button:nth-child(4):nth-last-child(2) {
	left: 60.6%;
    width: 18%;
}
.bottom button:nth-child(5):nth-last-child(1) {
	left: 80.25%;
    width: 18%;
}

.bottom button span {
	background: #fff;
	border-radius: 0 0 4vh 4vh;
	bottom: -7vh;
	height: 4vh;
	left: -3vh;
	line-height: 4vh;
	position: absolute;
	right: -3vh;
}

.bottom button.play {
	background-image: url(play-solid.svg);
}
.bottom button.menu {
	background-image: url(list-solid.svg);
}
.bottom button.rock,
.score .figure.rock::before {
	background-image: url(hand-back-fist-solid.svg);
}
.bottom button.paper,
.score .figure.paper::before {
	background-image: url(hand-solid.svg);
}
.bottom button.scissors,
.score .figure.scissors::before {
	background-image: url(hand-scissors-solid.svg);
}
.bottom button.lizard,
.score .figure.lizard::before {
	background-image: url(hand-lizard-solid.svg);
}
.bottom button.spock,
.score .figure.spock::before {
	background-image: url(hand-spock-solid.svg);
}
.bottom button.human,
.score .player.human::before {
	background-image: url(user-astronaut-solid.svg);
}
.bottom button.robot,
.score .player.robot::before {
	background-image: url(robot-solid.svg);
}
.bottom button.rock-paper-scissors {
	background-image: url(hand-solid.svg);
}
.bottom button.rock-paper-scissors-lizard-spock {
	background-image: url(hand-spock-solid.svg);
}

#welcome .title {
	font-size: 10vh;
	margin: 10vh 5vh;
	text-align: center;
}

#main-menu .description {
	font-size: 4vh;
	margin: 5vh;
	text-align: left;
}

.score {
	margin: 5vh;
}

.score .player {
	min-height: 4.5rem;
	padding-left: 4.5rem;
	position: relative;
}
.score .player::before,
.score .player .figure::before {
	background-color: lightslategray;
	background-position: center	center;
	background-repeat: no-repeat;
	background-size: contain;
	border: .5rem solid lightslategray;
	border-radius: 50%;
	content: '';
	left: 0;
	padding: 1.5rem;
	position: absolute;
}
.score .player.loose::before,
.score .player.loose::after,
.score .player.loose .figure::before {
	background-color: lightcoral;
	border-color: lightcoral;
}
.score .player.win::before,
.score .player.win::after,
.score .player.win .figure::before {
	background-color: lightgreen;
	border-color: lightgreen;
}
.score .player .figure::before {
	left: 6rem;
}

.score .player::after {
	background-color: lightslategray;
	border-radius: 50%;
	content: '';
	left: 4.25rem;
	padding: .75rem;
	position: absolute;
	top: 1.25rem;
}

.score .player .figure {
	display: inline;
}

.score .player .figure .result {
}