.blueberry {
	color: #6B7A8F;
}
.apricot {
	color: #F7882F;
}
.citrus {
	color: #F7C331;
}
.applecore {
	color: #DCC7AA;
}

body {
	background: #DCC7AA;
	margin: 0;
	overflow: hidden;
}

.hidden {
	display: none;
}

.bottom {
	background-color: #6B7A8F;
	bottom: 0;
	box-shadow: 0 0 4vh 1vh #6B7A8F;
	height: 20vh;
	left: 0;
	position: absolute;
	right: 0;
}

.bottom button {
	background: #F7C331;
	background-image: linear-gradient(to bottom right, red, yellow);
	background-position: center	center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 4vh solid #F7C331;
	border-bottom-width: 8vh;
	border-radius: 5vh;
	box-shadow: 0 .5vh 1.5vh #444;
	height: 33vh;
	position: absolute;
	top: -25vh;
    width: 28%;
}
.bottom button::before {
	border: #F7882F solid 1vh;
	border-radius: 5vh;
	bottom: -8vh;
	content: '';
	left: -4vh;
	position: absolute;
	right: -4vh;
	top: -4vh;
}
.bottom button:nth-child(1):nth-last-child(1) {
	left: 36%;
}
.bottom button:nth-child(1):nth-last-child(2) {
	left: 14.666%;
}
.bottom button:nth-child(2):nth-last-child(1) {
	left: 57.333%;
}
.bottom button:nth-child(1):nth-last-child(3) {
	left: 4%;
}
.bottom button:nth-child(2):nth-last-child(2) {
	left: 36%;
}
.bottom button:nth-child(3):nth-last-child(1) {
	left: 68%;
}
.bottom button:nth-child(1):nth-last-child(4) {
	left: 4%;
    width: 20%;
}
.bottom button:nth-child(2):nth-last-child(3) {
	left: 28%;
    width: 20%;
}
.bottom button:nth-child(3):nth-last-child(2) {
	left: 52%;
    width: 20%;
}
.bottom button:nth-child(4):nth-last-child(1) {
	left: 76%;
    width: 20%;
}
.bottom button:nth-child(1):nth-last-child(5) {
	left: 1.65%;
    width: 18%;
}
.bottom button:nth-child(2):nth-last-child(4) {
	left: 21.3%;
    width: 18%;
}
.bottom button:nth-child(3):nth-last-child(3) {
	left: 40.95%;
    width: 18%;
}
.bottom button:nth-child(4):nth-last-child(2) {
	left: 60.6%;
    width: 18%;
}
.bottom button:nth-child(5):nth-last-child(1) {
	left: 80.25%;
    width: 18%;
}

.bottom button span {
	background: #eee;
	border-radius: 0 0 4vh 4vh;
	border-top: .5vh solid #F7882F;
	bottom: -7vh;
	color: #444;
	height: 4vh;
	left: -3vh;
	line-height: 4vh;
	position: absolute;
	right: -3vh;
}

.bottom button.play {
	background-image: url(play-solid-light.svg);
}
.bottom button.menu {
	background-image: url(list-solid-light.svg);
}
.bottom button.rock,
#score .figure.rock::before {
	background-image: url(hand-back-fist-solid-light.svg);
}
.bottom button.paper,
#score .figure.paper::before {
	background-image: url(hand-solid-light.svg);
}
.bottom button.scissors,
#score .figure.scissors::before {
	background-image: url(hand-scissors-solid-light.svg);
}
.bottom button.lizard,
#score .figure.lizard::before {
	background-image: url(hand-lizard-solid-light.svg);
}
.bottom button.spock,
#score .figure.spock::before {
	background-image: url(hand-spock-solid-light.svg);
}
.bottom button.human,
#score .player.human::before {
	background-image: url(user-astronaut-solid-light.svg);
}
.bottom button.robot,
#score .player.robot::before {
	background-image: url(robot-solid-light.svg);
}
.bottom button.rock-paper-scissors {
	background-image: url(hand-rock-solid-scissors-light.svg);
}
.bottom button.rock-paper-scissors-lizard-spock {
	background-image: url(hand-rock-solid-scissors-lizard-spock-light.svg);
}

#welcome .title {
	font-size: 10vh;
	margin: 10vh 5vh;
	text-align: center;
}

#main-menu .description {
	font-size: 4vh;
	margin: 5vh;
	text-align: left;
}

#score {
	margin: 5vh;
}

#score .player {
	min-height: 4.5rem;
	padding-left: 4.5rem;
	position: relative;
}
#score .player::before,
#score .player .figure::before {
	background-color: #6B7A8F;
	background-position: center	center;
	background-repeat: no-repeat;
	background-size: contain;
	border: .5rem solid #6B7A8F;
	border-radius: 50%;
	box-shadow: 0 0px .2vh .2vh #fff;
	content: '';
	left: 0;
	padding: 1.5rem;
	position: absolute;
}
#score .player.loose .figure::before {
	background-color: #f72f3a;
	border-color: #f72f3a;
}
#score .player.win::before,
#score .player.win .figure::before {
	background-color: #25c56c;
	border-color: #25c56c;
}
#score .player .figure::before {
	left: 2rem;
}

#score .player::after {
	background-color: #6B7A8F;
	border-radius: 50%;
	box-shadow: 0 0px .2vh .2vh #fff;
	content: '';
	left: 4.5rem;
	padding: .75rem;
	position: absolute;
	top: 1.25rem;
}

#score .player .figure {
	display: inline;
	padding: 2.25rem;
	position: relative;
}

#score .player .figure .result {
}

.move-up {
	opacity: 1;
	transition: transform 400ms, opacity 400ms;
}
.move-up.do {
	opacity: 0;
	transform: translateY(-33vh) scale(2) !important;
}
.move-up:hover {
	transform: translateY(-3vh);
}

.flip {
	transition: transform 200ms;
}
.flip.do {
	transform: rotateY(90deg) !important;
}
.flip:hover {
	transform: rotateY(25deg);
}
